*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(images/nghala\ landing\ page.png);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%vh;
}

header {
  display: flex;
  justify-content: space-between;
}


.snapShot img {
 height:80px;
 opacity: 0.9;
}

.churchLogo img {
 height: 80px;
 opacity: 0.9;

}
 .buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a button {
  font-size: 25px;
}

button {
  border: none;
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  /* background-color: rgba(23, 188, 89, 0.9); */
  font-size: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(23, 188, 89, 1);
}

.register-link button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
   transition:background-color 0.5s ease;
}

.register-link button:hover {
  background-color: #1e9e4b;
}

.song {
  font-size: 40px;
  font-weight: 5rem;
  text-shadow: 5px 5px 10px black;
  line-height: 1rem;
  text-align: center;
  color: rgb(255, 254, 254);
  width: fit-content;
  margin:auto;
}

.song span {
  line-height: 10rem;
  display: block;
  font-size: 10rem;
  color: yellow;
  font-family: "Fontdiner Swanky", serif;
  font-weight: 40px;
  font-style: normal;
}

.owner{
  color: goldenrod;
  margin-top: -18px;
  font-size: 15px;
  padding-right: 1.8rem;
  text-align: center;
}


.location p{
  color: white;
  text-align: center;
  /* text-shadow: 10px 10px 30px black; */
}

#prompt{
  color: yellow;
}


@media (max-width: 500px) {

  body{ 
     margin: 0;
  background-image: url(images/nghala\ landing\ page.png);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%vh;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }

  .song {
  font-size: 40px;
  font-weight: 4rem;
  text-shadow: 10px 10px 10px black;
  text-align: center;
  color: white;
  /* width: 100%; */
  margin: 0;
  }

  .song span{
    margin: 5px;
    font-size: 5rem;
  }
}

.second{
  background-image: none;
  background-color: black;
  background-position: center;
  height: 100%;
}

.secondPage{
  font-size: 30px;
  text-align: center;
  color:white;
  background-color: black;
  opacity: 0.5;
  border: none;

}

.backToHome{
  text-align: center;
  border: none;
  text-decoration: none;
  opacity: 0.5;
}
